<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Perda</h1>
  <!-- <button mat-raised-button color="primary" (click)="adicionarPerda()">Adicionar</button> -->
</div>

<form [formGroup]="perda_formulario" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
    <mat-form-field fxFlex="48" class="example-full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input type="text" matInput formControlName="nome" placeholder="Ex: Tchulengo">
      <mat-error *ngIf="perda_formulario.controls.nome.hasError('required')">
        Nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="48" class="example-full-width" appearance="outline">
      <mat-label>Cpf</mat-label>
      <input type="text" matInput formControlName="cpf" placeholder="Ex: Tchulengo">
      <mat-error *ngIf="perda_formulario.controls.cpf.hasError('required')">
        Cpf é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
    <mat-form-field fxFlex="48" class="example-full-width" appearance="outline">
      <mat-label>Latitude</mat-label>
      <input type="text" matInput formControlName="latitude" placeholder="Ex: Tchulengo">
      <mat-error *ngIf="perda_formulario.controls.latitude.hasError('required')">
        Latitude é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="48" class="example-full-width" appearance="outline">
      <mat-label>Longitude</mat-label>
      <input type="text" matInput formControlName="longitude" placeholder="Ex: Tchulengo">
      <mat-error *ngIf="perda_formulario.controls.longitude.hasError('required')">
        Longitude é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
    <mat-form-field fxFlex="48" class="example-full-width" appearance="outline">
      <mat-label>Tipo da Lavoura</mat-label>
      <input type="text" matInput formControlName="tipo_lavoura" placeholder="Ex: Tchulengo">
      <mat-error *ngIf="perda_formulario.controls.tipo_lavoura.hasError('required')">
        Tipo da Lavoura é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="48" class="example-full-width" appearance="outline">
      <mat-label>Data da Colheita</mat-label>
      <input type="date" matInput formControlName="data_colheira" placeholder="Ex: Tchulengo">
      <mat-error *ngIf="perda_formulario.controls.data_colheira.hasError('required')">
        Data da Colheita é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
    <mat-form-field fxFlex="48" class="example-full-width" appearance="outline">
      <mat-label>Evento Ocorrido</mat-label>
      <input type="text" matInput formControlName="evento_ocorrido" placeholder="Ex: Tchulengo">
      <mat-error *ngIf="perda_formulario.controls.evento_ocorrido.hasError('required')">
        Evento Ocorrido é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
  </div>
</form>
