<mat-drawer-container autosize>
  <mat-drawer mode="side" opened>
    <img src="assets/imagens/logo.png" fxLayout="row" fxLayoutAlign="center center" width="200em" style="padding-top: 0.5em;">
    <mat-selection-list #shoes [multiple]="false" >
      <mat-list-option routerLink="/perdas" >
        <mat-icon mat-list-icon>add</mat-icon>
        <span >Lista de Perdas</span>
      </mat-list-option>
      <mat-list-option routerLink="/grafico">
        <mat-icon mat-list-icon>insights</mat-icon>
        <span>Gráfico</span>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="barra" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Comunicação de Perda</span>
    <button mat-icon-button>
      <mat-icon>manage_accounts</mat-icon>
    </button>
  </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
